
<mat-grid-list cols="{{gridColums}}" rowHeight="{{gridRows}}">

    <mat-grid-tile class="reporte">
            <mat-card class="card" fxLayoutAlign="start start">
                <mat-card-title>Total reportes</mat-card-title>
                <mat-card-content>
                    <div (click)="reportesConsola()" class="reportes">
                        {{reportes.length}}
                    </div>
                    <h4>Click en el número de reportes para verlos en consola.</h4>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    
        <table>
            <tr *ngFor="let reporte of reportes">
                <mat-grid-tile>
                    <mat-card class="card scroll" fxLayoutAlign="start start">
                        <p style="display: inline-block; text-align: right;">{{formatearFecha(reporte.fecha)}}</p>
                        <mat-card-title class="titulo">Reporte</mat-card-title>
                        <h3># {{reporte.id}}</h3>
                        <mat-card-content class="descripcion" >{{reporte.descripcion}}</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </tr>
        </table>

  </mat-grid-list>

