.card{
    margin: 10px;
}

mat-card-title{
    margin-top: 5%;
    margin-bottom: 5%;
}

.reportes{
    text-align: center;
    margin: 10% 8% 5% 8%;
    padding: 80px 30px 0px 30px;
    height: 120px;
    font-size: 100px;
    background-color: rgba(243, 243, 19, 0.582);
    border-radius: 50px;
}

  .scroll{
      overflow-y: auto;
  }

  mat-card{
    padding: 10px;
      max-height: 90%;
      max-width: 100%;
      min-width: 90%;
      min-height: 90%;
  }

/* 
.descripcion{
    height: 9em; */
    /* overflow-y: scroll;
} */